.additionally__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  text-align: left;
  margin-bottom: 32px;
  position: relative;
  margin-top: 0;

  @media (min-width: $tablet) {
    font-size: 36px;
    line-height: 45px;
    margin-top: 36px;
    margin-left: -9px;
    margin-bottom: 5px;
  }

  @media (min-width: $dekstop) {
    margin-top: 42px;
    margin-left: 11px;
  }

  &::after {
    content: " ";
    display: inline-block;
    vertical-align: middle;
    height: 2px;
    box-sizing: border-box;
    width: 103%;
    background: #6cbd83;
    border: solid #ffffff;
    border-width: 0 10px;
    left: calc((100vw - 100%) / -2);
    @media (min-width: $tablet) {
margin-top: -92px;
width: 102%;

    }
      @media (min-width: $dekstop) {
        position: absolute;
        z-index: -1;
        margin-top: 0px;
       top:27px;
       width: 150vw;
      }
  }
}

.additionally__line {
  width: 53px;
  height: 2px;
  background-color: $basic_green;
}

.additionally__items {
  border-top: 1px solid $special_grey;
  border-bottom: 1px solid $special_grey;
  padding-top: 13px;
  padding-bottom: 15px;


  @media (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  @media (min-width: $dekstop) {
    display: flex;
    width: 895px;
    justify-content: space-between;
    padding-bottom: 3px;
  }
}

.additionally__title-block {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $special_dark-grey-2;
  margin-top: 0;
  margin-bottom: 0;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 20px;
    margin-left: 39px;
    margin-top: 12px;
  }

  @media (min-width: $dekstop) {
    width: 325px;
    margin-left: 0;
    margin-top: 13px;
  }
}

.additionally__table {
  display: flex;
  justify-content: space-between;
  font-family: "Arial", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  padding-top: 0;
  padding-bottom: 1px;

  @media (min-width: $tablet) {
    align-self: center;
    margin-right: 37px;
    margin-top: 5px;
    width: 225px;
letter-spacing: 0.8px;
  }

  @media (min-width: $dekstop) {
    margin-top: -1px;
    width: 286px;
margin-right: 38px;
  }

  &--size {
    @media (min-width: $tablet) {
      width: 160px;
    }

    @media (min-width: $dekstop) {
      width: 286px;
    }
  }

  &--size1 {
    @media (min-width: $tablet) {
      width: 143px;
    }

    @media (min-width: $dekstop) {
      width: 286px;
    }
  }

  &--size2 {
    @media (min-width: $tablet) {
      width: 218px;
    }

    @media (min-width: $dekstop) {
      width: 286px;
    }
  }
}

.additionally__links {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  display: block;
  width: 100%;
  text-decoration: none;
  color: $basic_white;
  text-transform: uppercase;
  padding-top: 11px;
  padding-bottom: 11px;
  text-align: center;
  margin-left: 1px;
  background-color: $basic_green;

  @media (min-width: $tablet) {
    width: 632px;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 11px;
    margin-bottom: 12px;
  }

  @media (min-width: $dekstop) {
    width: 244px;
    padding-top: 11px;
    padding-bottom: 11px;
    margin-top: 2px;
    margin-left: 0;
  }

  &:hover {
    background-color: $basic_green-2;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  &:focus {
    background-color: adjust-hue($basic_green-2, 10);
  }
}

.additionally__link-gift {
  text-decoration: none;

  @media (min-width: $tablet) {
    width: 708px;
    display: flex;
    margin-left: 89px;
    margin-top: 0px;
    margin-bottom: 9px;
  }

  @media (min-width: $dekstop) {
    flex-direction: column;
    display: block;
    margin-left: 0px;
  }
}

.additionally__gift-block {
  width: 280px;
  height: 289px;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  margin-bottom: 35px;
  display: flex;
  background-color: #6fb346;
  margin-left: auto;
margin-top: 42px;
  margin-right: auto;
  @media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
  background: url("../img/gift-photo-mobile@2x.jpg") no-repeat;
  background-size: 280px 289px;

}
  @media (min-width: $tablet) {
    flex-direction: row;
    margin-top: 68px;
    width: 708px;
    height: 200px;
    padding-top: 0;
    padding-bottom: 0;
    background-image: url("../img/gift-photo-tablet@1x.jpg");
    margin-left: 30px;
    margin-bottom: 75px;

    @media (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi) {
    background: url("../img/gift-photo-tablet@2x.jpg") no-repeat;
    background-size: 708px 200px;
  }
  }

  @media (min-width: $dekstop) {
    width: 245px;
    height: 289px;
    background-image: url("../img/gift-photo-desktop@1x.jpg");
    background-repeat: no-repeat;
    margin-left: 104px;
margin-top: 162px;
padding-bottom: 0px;
padding-top: 0px;
margin-bottom: 89px;
    @media (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi) {
    background: url("../img/gift-photo-desktop@2x.jpg") no-repeat;
    background-size: 245px 289px;
  }
  }
}

.additionally__paragraphe-gift {
  font-family: "Arial", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: $basic_white;
  width: 190px;
  align-self: center;
  margin-left: 41px;

  @media (min-width: $tablet) {
    margin-left: 275px;
      margin-top: 28px;
    text-align: left;
    letter-spacing: 0px;
    width: 180px;

    @media (min-width: $dekstop) {
      text-align: center;
      margin-left: 32px;
      margin-top: 27px;
    }
  }
}

.additionally__items-div {
  @media (min-width: $tablet) {
    display: flex;
    justify-content: space-around;
  }

  @media (min-width: $dekstop) {
    display: flex;
  }
}

.additionally {
  overflow: hidden;
  @media (min-width: $tablet) {
margin-top: 30px;
  }
  @media (min-width: $dekstop) {
    display: flex;
    margin-top: 25px;
  }
}

.additionally__center {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  box-sizing: border-box;
  @media (min-width: $tablet) {
margin: 0;
  }
  @media (min-width: $dekstop) {
    display: flex;
    margin: 0 auto;
  }
}

.additionally__line-border {
  padding-left: 20px;
  padding-right: 20px;
  @media (min-width: $tablet) {
    border: 1px solid $special_grey;
    width: 708px;
    margin-top: 30px;
    margin-left: 30px;
    padding-left: 0px;
    padding-right: 0px;

  }

  @media (min-width: $dekstop) {
    border: none;
    width: 869px;
    margin-left: 42px;
    margin-top: 75px;
  }
}

.additionally_svg {
  margin-left: 110px;
  margin-top: 54px;
  margin-bottom: 32px;

  @media (min-width: $tablet) {
    margin: 0;
    align-self: center;
  }

  @media (min-width: $dekstop) {
    margin-bottom: 20px;
    align-self: flex-start;
    margin-left: 95px;
    margin-top: 54px;
  }
}

.additionally_div-border {
  @media (min-width: $dekstop) {
    width: 896px;
  }
}

.additionally__price {
  margin-top: 12px;

  @media (min-width: $tablet) {
    margin-top: 10px;
  }

  @media (min-width: $dekstop) {
    margin-top: 12px;
  }
}

.additionally__price1 {
  @media (min-width: $dekstop) {
    margin-right: 6px;
  }
}

.additionally__price2 {
  @media (min-width: $dekstop) {
    margin-top: 10px;
  }
}

.additionally__span {
  background-color: $basic_white;
  padding-left: 19px;
  padding-right: 22px;
  position: absolute;

  @media (min-width: $tablet) {
    padding-right: 35px;
    position: relative;
padding-left: 37px;
margin-left: 41px;
  }
  @media (min-width: $dekstop) {
      margin-left: -9px;
  }

}
