.catalog-page-main__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  padding-top: 2px;
  padding-bottom: 19px;
  margin-right: 20px;
  text-align: center;
  margin-top: 28px;

  @media (min-width: $tablet) {
    font-size: 60px;
    line-height: 36px;
    margin-top: 60px;
    margin-right: 281px;
    padding-bottom: 135px;
  }

  @media (min-width: $dekstop) {
    margin-right: 791px;
    margin-top: 70px;
  }
}
