.example {
  background-color: $basic_grey_ea;

  @media (min-width: $tablet) {
    background-color: $basic_white;
    border-top: 1px solid $add_gray_border;
  }

  @media (min-width: $dekstop) {
    border-top: none;
    background-color: $basic_grey;
  }
}

.example__center {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  @media (min-width: $dekstop) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding-left: 20px;
    padding-right: 20px;
  }
}

.example__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  margin-top: 27px;
  margin-left: 20px;
  margin-bottom: 0;

  @media (min-width: $tablet) {
    margin-left: 30px;
    font-size: 60px;
    line-height: 60px;
    margin-top: 6px;
    margin-bottom: 32px;
  }

  @media (min-width: $dekstop) {
    grid-area: 1 / 1 / 2 / 2;
    margin-top: -135px;
    margin-left: 40px;
  }
}

.example__paragraph {
  color: $special_dark-grey;
  padding-right: 30px;
  margin-top: 33px;
  margin-bottom: 26px;
  padding-left: 20px;
  letter-spacing: -0.16px;

  @media (min-width: $tablet) {
    width: 670px;
    padding-left: 0;
    padding-right: 0;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.1px;
    margin-bottom: 50px;
    margin-left: 30px;
  }

  @media (min-width: $dekstop) {
    grid-area: 2 / 1 / 3 / 2;
    margin-top: -84px;
    width: 430px;
    margin-left: 40px;
  }
}

.example__item {
  border: 1px solid $special_grey;
  box-sizing: border-box;
  border-radius: 3px;
  width: 124px;
  height: 56px;

  @media (min-width: $tablet) {
    width: 161px;
    height: 72px;
  }

  &--margin {
    @media (min-width: $tablet) {
      margin-right: auto;
      margin-left: 42px;
    }

    @media (min-width: $dekstop) {
      margin-left: 41px;
    }
  }
}

.example__title-span {
  @media (min-width: $dekstop) {
    margin-left: 60px;
  }
}

.example__item-paragraph {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  font-size: 24px;
  line-height: 24px;
  margin-top: 13px;
  margin-bottom: 0;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    margin-top: 14px;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
  }
}

.example__item-span {
  display: inline-block;
  font-family: "Arial", "Tahoma", sans-serif;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: $special_dark-grey;
  background: $basic_grey_ea;
  z-index: -1;
  margin-top: 10px;
  padding-left: 5px;
  padding-right: 5px;

  @media (min-width: $tablet) {
    background: $basic_white;
    margin-top: 13px;
    font-size: 14px;
    line-height: 14px;
    width: 130px;

    br {
      display: none;
    }
  }

  @media (min-width: $dekstop) {
    background: $basic_grey;
  }
}

.example__item-span--margin {
  margin-left: 28px;

  @media (min-width: $tablet) {
    margin-left: 10px;
  }
}

.example__item-span--margin2 {
  margin-left: 28px;

  @media (min-width: $tablet) {
    margin-left: 10px;
  }
}

.example__title-pay {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  margin-top: 35px;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 27px;
    width: 180px;
    text-align: right;
    margin-top: 10px;
    margin-right: 10px;
  }

  @media (min-width: $dekstop) {
    width: 100%;
    font-size: 20px;
    margin-left: -257px;
    margin-top: 4px;
  }
}

.example__switch {
  display: inline;
  height: 0;
  width: 0;
  visibility: hidden;
}

.example__checkbox {
  cursor: pointer;
  text-indent: -9999px;
  width: 84px;
  height: 14px;
  background: $basic_white;
  display: block;
  border-radius: 100px;
  position: relative;
  border: 1px solid $special_grey;
  box-sizing: border-box;
}

.example__checkbox::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 5px;
  width: 35px;
  height: 6px;
  background: $basic_green;
  border-radius: 6px;
  transition: 0.3s;
}

.example__switch:checked + .example__checkbox {
  background: $basic_white;
}

.example__switch:checked + .example__checkbox::after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

.example__checkbox:active::after {
  width: 74px;
}

.example__span {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: $basic_black;
  margin-right: 8px;
  margin-left: 16px;
  letter-spacing: -0.5px;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 30px;
    border-bottom: 1px dotted $special_grey;
    margin-top: -10px;
  }

  @media (min-width: $dekstop) {
    margin-right: 5px;
  }
}

.example__link-slider {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: $basic_black;
  margin-right: 8px;
  margin-left: 16px;
  letter-spacing: -0.5px;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 30px;
    border-bottom: 1px dotted $special_grey;
    margin-top: -10px;
    text-decoration: none;
  }

  @media (min-width: $dekstop) {
    margin-right: 5px;
  }

  &:hover,
  &:focus {
    border-bottom: 1px solid;
    border-color: rgba(0, 0, 0, 0.4);
  }

  &:active {
    border-bottom: none;
    margin-bottom: 1px;
  }
}

.example__div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  @media (min-width: $tablet) {
    display: flex;
    justify-content: flex-start;
    margin: 0 0 42px;
    padding-right: 25px;
    padding-bottom: 195px;
    margin-left: 30px;
    margin-top: 5px;
  }

  @media (min-width: $dekstop) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-bottom: 0;
    margin: -71px 0 0 41px;
  }
}

.example__toggle-block {
  display: flex;
  margin: 30px auto 25px;

  @media (min-width: $tablet) {
    display: none;
  }
}

.example__cat {
  margin: auto auto auto 5px;

  @media (min-width: $tablet) {
    width: 675px;
    height: 515px;
    margin-left: 50px;
    position: absolute;
    bottom: -520px;
    left: -40px;
  }

  @media (min-width: $dekstop) {
    width: 680px;
    height: 520px;
    left: -70px;
    bottom: -535px;
  }

  &--slim {
    @media (min-width: $tablet) {
      height: 515px;
      left: -386px;
      bottom: -530px;
      width: 685px;
    }

    @media (min-width: $dekstop) {
      height: 515px;
      left: -410px;
      bottom: -535px;
      width: 685px;
    }
  }
}

.example__div-cat {
  background: $basic_grey_ea;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding-bottom: 10px;
  margin-left: 0;

  @media (min-width: $tablet) {
    padding-top: 320px;
    padding-bottom: 20px;
    margin-top: 5px;
    position: relative;
    margin-left: -5px;
  }

  @media (min-width: $dekstop) {
    grid-area: 1 / 2 / 4 / 3;
    background-color: $basic_grey;
  }
}

.example__slider-wrapper {
  display: none;

  @media (min-width: $tablet) {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    margin-left: 24px;
  }
}

.example__slider-js {
  display: none;

  @media (min-width: $tablet) {
    display: block;
    width: 428px;
    height: 6px;
    background-color: $add_gray_dc;
    position: relative;
    border-radius: 3px;
    cursor: pointer;
  }
}

.example__slider-handle {
  display: none;

  @media (min-width: $tablet) {
    display: block;
    position: absolute;
    left: 195px;
    height: 30px;
    width: 30px;
    box-shadow: 0 2px 10px rgba(48, 56, 77, 0.5);
    border-radius: 50%;
    background-color: white;
    top: -12px;
    transition: 0.2s;
  }
}

.example__slider-handle::before {
  display: none;

  @media (min-width: $tablet) {
    display: block;
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: $basic_green;
    top: 10px;
    left: 10px;
  }
}

.example__wraper {
  display: none;

  @media (min-width: $tablet) {
    display: flex;
    padding-top: 55px;
    padding-bottom: 46px;
    margin-left: 85px;
  }

  @media (min-width: $dekstop) {
    margin-left: 29px;
    padding-top: 48px;
  }
}

.example__picture {
  position: relative;
}

.example__div-cat-slim {
  display: none;

  @media (min-width: $tablet) {
    display: block;
    width: 342px;
    height: 530px;
    overflow: hidden;
    position: absolute;
    bottom: 115px;
    left: 386px;
  }

  @media (min-width: $dekstop) {
    left: 330px;
    bottom: 140px;
  }
}

.example__div-cat-fat {
  @media (min-width: $tablet) {
    overflow: hidden;
    width: 342px;
    height: 530px;
    position: absolute;
    bottom: 110px;
    left: 44px;
  }

  @media (min-width: $dekstop) {
    left: -12px;
    bottom: 140px;
  }
}
