.form_text-radio {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $special_dark-grey-2;
}

.form__line {
  width: 99px;
  height: 2px;
  background-color: $basic_green;
}

.form__button {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  display: block;
  width: 280px;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  padding-top: 11px;
  padding-bottom: 11px;
  background-color: #68b738;
  text-align: center;
  border: none;
  margin-top: 37px;
  margin-bottom: 21px;
  margin-left: 20px;

  @media (min-width: $tablet) {
    width: 282px;
    margin-left: 21px;
    flex-shrink: 0;
    padding-top: 25px;
    padding-bottom: 27px;
    margin-top: 36px;
    font-size: 20px;
    line-height: 0;
  }

  @media (min-width: $dekstop) {
    width: 568px;
  }

  &:hover,&:focus {
    background-color: $basic_green-2;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

.form__small {
  font-size: 14px;
  margin-left: 82px;
  letter-spacing: -0.2px;

  @media (min-width: $tablet) {
    margin-left: 51px;
    align-self: center;
    position: absolute;
    top: 52px;
    left: 313px;
    width: 200px;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.1px;
  }

  @media (min-width: $dekstop) {
    position: static;
    margin: 18px 0 0 80px;
  }
}

.form__button-div {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet) {
    flex-direction: row;
    position: relative;
  }

  @media (min-width: $dekstop) {
    position: static;
    grid-column-start: 1;
    grid-column-end: -1;
  }
}

.form {
  margin-bottom: 30px;

  @media (min-width: $tablet) {
    margin-bottom: 70px;
    overflow: hidden;
  }

  @media (min-width: $dekstop) {
    margin-bottom: 60px;
  }
}

.form__info-block {
  align-items: flex-start;

  @media (min-width: $dekstop) {
    display: flex;
  }
}

.form__text {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $special_dark-grey;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 14px;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 20px;
  }

  @media (min-width: $dekstop) {
    margin-bottom: 20px;
  }
}

.form__input-radio:checked + .form__text-radio,
.form__input-radio:not(:checked) + .form__text-radio {
  position: relative;
  padding-top: 5px;
  padding-left: 55px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: $basic_black;
}

.form__input-radio:checked + .form__text-radio::after,
.form__input-radio:not(:checked) + .form__text-radio::after {
  content: "";
  width: 14px;
  height: 14px;
  background: $basic_green;
  position: absolute;
  top: 8px;
  left: 8px;
  border-radius: 100%;
  transition: all 0.2s ease;

  @media (min-width: $tablet) {
    width: 19px;
    height: 19px;
    top: 14px;
    left: 11px;
  }
}

.form__input-radio:not(:checked) + .form__text-radio::after {
  opacity: 0;
  transform: scale(0);
}

.form__input-radio:checked + .form__text-radio::after {
  opacity: 1;
  transform: scale(1);
}

.form__input {
  border: 1px solid $add_gray;
  box-sizing: border-box;
  height: 45px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 15px;
  text-transform: uppercase;
  color: $special_dark-grey;
  padding-left: 15px;
  padding-bottom: 3px;
  letter-spacing: 0.6px;

  @media (min-width: $tablet) {
    height: 52px;
    font-size: 20px;
    line-height: 30px;
    padding-left: 18px;
  }

  &--tel {
    background-image: url("../img/icon-phone.svg");
    background-repeat: no-repeat;
    background-position: 170px 10px;
    background-size: 20px 20px;
    width: 205px;
    flex-shrink: 0;

    @media (min-width: $tablet) {
      width: 535px;
      background-position: 496px 15px;
      letter-spacing: 0;
    }

    @media (min-width: $dekstop) {
      display: flex;
      width: 472px;
      background-position: 435px 14px;
    }
  }

  &--email {
    background-image: url("../img/icon-mail.svg");
    background-repeat: no-repeat;
    background-position: 183px 10px;
    background-size: 19px 19px;
    width: 220px;
    flex-shrink: 0;

    @media (min-width: $tablet) {
      width: 551px;
      background-position: 512px 16px;
      background-size: 19px 18px;
      letter-spacing: 0;
    }

    @media (min-width: $dekstop) {
      width: 486px;
      margin-right: 78px;
      background-position: 447px 16px;
    }
  }

  &--name {
    width: 229px;

    @media (min-width: $tablet) {
      width: 567px;
    }

    @media (min-width: $dekstop) {
      width: 506px;
    }
  }

  &--weight {
    margin-left: 14px;
    width: 204px;
    padding-bottom: 4px;

    @media (min-width: $tablet) {
      width: 536px;
    }

    @media (min-width: $dekstop) {
      width: 475px;
    }
  }

  &--age {
    width: 172px;
    padding-bottom: 4px;

    @media (min-width: $tablet) {
      width: 497px;
    }

    @media (min-width: $dekstop) {
      width: 436px;
    }
  }

  &--error {
    border: 2px solid #ff8282;
    box-sizing: border-box;
  }

  &:focus,
  &:hover {
    border-color: $special_grey;
  }

  &:active {
    border-color: $special_dark-grey;
  }
}

.form__input::placeholder {
  color: $special_dark-grey;
  opacity: 1;
}

.form__input-radio:checked + .form__text-radio::before,
.form__input-radio:not(:checked) + .form__text-radio::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 28px;
  height: 28px;
  border: 1px solid $special_grey;
  border-radius: 100%;
  background: $basic_white;

  @media (min-width: $tablet) {
    width: 40px;
    height: 40px;
    top: 3px;
  }
}

.form__input-radio + .form__text-radio:active::before {
  opacity: 0.3;
}

.form__input-radio + .form__text-radio:hover::before {
  border-color: $add_gray;
}

.form__input-radio:focus + .form__text-radio {
  outline: 1px solid #000000;
}

.form__text-radio {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $special_dark-grey-2;
  padding-bottom: 14px;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 30px;
  }

  &--form {
    @media (min-width: $dekstop) {
      padding-bottom: 0;
    }
  }
}

.form__info-block-radio {
  border-top: 1px solid $basic_grey_line;
  border-bottom: 1px solid $basic_grey_line;
  margin-top: 9px;
  padding: 20px 0 10px;
  display: flex;
  flex-direction: column;
  padding-left: 20px;

  @media (min-width: $tablet) {
    padding-left: 28px;
    border: 1px solid $basic_grey_line;
    width: 600px;
    padding-bottom: 19px;
    margin-left: 70px;
    margin-top: 52px;
    min-height: 150px;
  }

  @media (min-width: $dekstop) {
    border: 1px solid $basic_grey_line;
    margin-top: 0;
    padding-bottom: 20px;
    margin-left: 20px;
    width: 540px;
    min-height: 154px;
  }
}

.form__info-block-name {
  display: flex;
  flex-direction: column;
  margin-left: 20px;

  @media (min-width: $tablet) {
    width: 630px;
    margin-left: 70px;
  }

  @media (min-width: $dekstop) {
    width: 630px;
    margin-left: 40px;
  }
}

.form__span-name {
  margin-top: 13px;
  margin-right: 13px;

  @media (min-width: $tablet) {
    margin-right: 16px;
    margin-top: 11px;
  }

  &--weight {
    margin-right: 3px;

    @media (min-width: $tablet) {
      margin-right: 5px;
    }
  }

  &--age {
    margin-right: 16px;
  }
}

.form__span-radio {
  display: block;
  margin-left: -10px;
  margin-bottom: 3px;

  @media (min-width: $tablet) {
    margin-top: 10px;
    margin-left: 6px;
  }

  @media (min-width: $dekstop) {
    margin-left: 4px;
  }
}

.form__input-error {
  border: 2px solid #ff8282;
  box-sizing: border-box;
}

.form__center {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  box-sizing: border-box;
  margin-top: 23px;

  @media (min-width: $tablet) {
    margin-top: 0;
  }
}

.form__title-span {
  background-color: $basic_white;
  display: table;
  padding-left: 20px;
  padding-right: 11px;
  width: 190px;

  @media (min-width: $tablet) {
    width: 544px;
    padding-left: 38px;

    br {
      display: none;
    }
  }

  &--coment {
    width: 130px;

    @media (min-width: $tablet) {
      padding-right: 39px;
    }
  }

  &--add {
    width: 153px;

    @media (min-width: $tablet) {
      padding-right: 40px;
    }
  }
}

.form__div-contact {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-wrap: wrap;

  @media (min-width: $tablet) {
    margin-left: 50px;
  }

  @media (min-width: $dekstop) {
    flex-direction: row;
    margin-left: 20px;
  }
}

.form__text-login {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $special_dark-grey;
  display: flex;
  margin-bottom: 14px;
  margin-left: 20px;

  @media (min-width: $tablet) {
    margin-bottom: 20px;
  }

  @media (min-width: $dekstop) {
    margin-bottom: 20px;
    margin-left: 20px;
  }

  &--margin {
    @media (min-width: $dekstop) {
      margin-left: 0;
    }
  }
}

.form__title-contact {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  margin-top: 25px;
  margin-bottom: 34px;
  position: relative;
  width: auto;
  margin-right: 0;

  @media (min-width: $tablet) {
    font-size: 36px;
    line-height: 36px;
    width: auto;
    margin-top: 74px;
    margin-left: 30px;
    margin-bottom: 77px;
  }

  @media (min-width: $dekstop) {
    margin-left: 1px;
    margin-top: 48px;
  }

  &::before {
    content: " ";
    display: inline-block;
    vertical-align: middle;
    height: 2px;
    box-sizing: border-box;
    width: 200vw;
    background: #6cbd83;
    border: solid #ffffff;
    border-width: 0 10px;
    position: absolute;
    top: 35%;
    z-index: -1;
    left: calc((100vw - 100%) / -2);

    @media (min-width: $tablet) {
      top: 60%;
      width: 200vw;
      left: calc((200vw - 100%) / -2);
    }
  }
}

.form__span-mail {
  display: block;
  margin-top: 11px;
  margin-right: 11px;
  white-space: nowrap;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 30px;
    margin-right: 20px;
  }

  @media (min-width: $dekstop) {
    margin-right: 22px;
  }
}

.form__span-tel {
  display: block;
  margin-top: 11px;
  margin-right: 9px;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 30px;
    margin-right: 15px;
  }
}

.form__input-comment::placeholder {
  color: $special_dark-grey;
  opacity: 1;
}

.form__input-comment {
  border: 1px solid $add_gray;
  box-sizing: border-box;
  width: 280px;
  height: 150px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  vertical-align: top;
  resize: none;
  margin-top: 14.5px;
  margin-left: 20px;
  padding-top: 13px;
  padding-left: 14px;

  @media (min-width: $tablet) {
    width: 631px;
    height: 174px;
    margin-left: 70px;
    margin-top: 45px;
    font-size: 20px;
    line-height: 30px;
    padding-top: 10px;
    padding-left: 17px;
  }

  @media (min-width: $dekstop) {
    width: 1220px;
    height: 174px;
    margin-left: 40px;
    margin-top: 47px;
  }
}

.form__title-coment {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  margin-top: 12px;
  position: relative;
  width: auto;
  margin-right: 0;

  @media (min-width: $tablet) {
    font-size: 36px;
    line-height: 36px;
    margin-top: 45px;
    margin-left: 32px;
  }

  @media (min-width: $dekstop) {
    margin-left: 1px;
    margin-top: 46px;
  }

  &::before {
    content: " ";
    display: inline-block;
    vertical-align: middle;
    height: 2px;
    box-sizing: border-box;
    width: 200vw;
    background: #6cbd83;
    border: solid #ffffff;
    border-width: 0 10px;
    position: absolute;
    top: 56%;
    z-index: -1;
    left: calc((100vw - 100%) / -2);

    @media (min-width: $tablet) {
      width: 200vw;
      left: calc((200vw - 100%) / -2);
    }
  }
}

.form__checkbox {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: repeat(2, 345px);
    grid-template-rows: 72px 72px 92px;
    grid-column-gap: 0;
    grid-row-gap: 0;
    margin-left: 50px;
  }

  @media (min-width: $dekstop) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 77px;
    grid-column-gap: 18px;
    grid-row-gap: 0;
    margin-left: 20px;
  }
}

.form__text-checkbox {
  margin-bottom: 2px;
  display: flex;
  width: 300px;
  height: 40px;

  @media (min-width: $tablet) {
    margin-top: 0;
  }

  input {
    &:checked + .form__text-box {
      background-color: white;

      &::after {
        top: 0;
      }
    }
  }
}

.form__text-box {
  width: 29px;
  height: 29px;
  transition: all 1.1s;
  border: 1px solid $special_grey;
  background-color: white;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  margin-top: 14px;
  margin-left: 20px;

  @media (min-width: $tablet) {
    width: 38px;
    height: 38px;
  }

  &::after {
    width: 40%;
    height: 20%;
    content: "";
    position: absolute;
    border-left: 2.5px solid;
    border-bottom: 2.5px solid;
    border-color: $basic_green;
    transform: rotate(-45deg) translate3d(0, 0, 0);
    transform-origin: center center;
    transition: all 1.1s cubic-bezier(0.19, 1, 0.22, 1);
    left: 0;
    right: 0;
    top: 200%;
    bottom: 15%;
    margin: auto;
  }
}

.form__text-box:hover {
  border: 1px solid #bababa;
}

.form__text-box:active {
  opacity: 0.3;
}

.form__text-paragraph {
  margin-left: 15px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  margin-top: 20px;

  @media (min-width: $tablet) {
    margin-left: 19px;
    font-size: 20px;
    line-height: 30px;
  }
}

.form__additionally {
  @media (min-width: $dekstop) {
    position: relative;
  }
}

.form__title-additionally {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  margin-top: 27px;
  position: relative;
  width: auto;
  margin-left: 0;
  margin-right: 0;

  @media (min-width: $tablet) {
    font-size: 36px;
    line-height: 36px;
    margin-top: 66px;
    margin-left: 32px;
    margin-bottom: 43px;
  }

  @media (min-width: $dekstop) {
    margin-left: 1px;
    margin-top: 67px;
  }

  &::before {
    content: " ";
    display: inline-block;
    vertical-align: middle;
    height: 2px;
    box-sizing: border-box;
    width: 200vw;
    background: #6cbd83;
    border: solid #ffffff;
    border-width: 0 10px;
    position: absolute;
    top: 55%;
    z-index: -1;
    left: calc((100vw - 100%) / -2);

    @media (min-width: $tablet) {
      width: 200vw;
      left: calc((200vw - 100%) / -2);
    }
  }
}

.form__checkbox-input:focus + span {
  border: solid 1px $basic_black;
}
