.main-nav {
  font-family: "Oswald", "Arial", sans-serif;
  position: static;
}

.main-nav__item {
  list-style: none;
  text-align: center;
  border-top: 1px solid $add_gray_border;
  border-bottom: 1px solid $add_gray_border;
  padding-top: 27px;
  padding-bottom: 20px;
  letter-spacing: 0.7px;

  @media (min-width: $tablet) {
    border: none;
    margin: 0 25px 0 0;
    padding-bottom: 0;
    padding-top: 9px;
    letter-spacing: -0.1px;
    margin-left: 10px;
  }

  &--margin {
    @media (min-width: $tablet) {
      margin-right: 0;
      padding-left: 0;
    }
  }

  &--catalog {
    @media (max-width: $mobile) {
      padding-top: 24px;
      padding-left: 1px;
      padding-bottom: 15px;
    }
  }

  &--catalog1 {
    @media (max-width: $mobile) {
      padding-bottom: 18px;
    }
  }

  &--form {
    padding-top: 24px;
    padding-bottom: 21px;

    @media (min-width: $tablet) {
      padding-top: 9px;
    }

    @media (min-width: $dekstop) {
      color: $basic_black;
      padding-top: 6px;
    }
  }

  &--catalog2 {
    @media (max-width: $mobile) {
      padding-top: 23px;
      padding-right: 1px;
      padding-bottom: 23px;
    }
  }
}

.main-nav__links {
  font-family: "Oswald", "Arial", sans-serif;
  text-decoration: none;
  font-size: 20px;
  line-height: 0;
  text-transform: uppercase;
  color: $basic_black;

  @media (min-width: $tablet) {
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $dekstop) {
    font-size: 20px;
    line-height: 30px;
    color: $basic_white;
  }

  &:focus,
  &:hover {
    color: rgba($basic_black, 0.6);
  }

  &:active {
    color: rgba($basic_black, 0.3);
  }

  &--form {
    @media (min-width: $dekstop) {
      color: $basic_black;
      margin-left: -2px;
      margin-right: 3px;
      margin-top: -10px;
    }
  }

  &--index {
    @media (min-width: $dekstop) {
      &:focus,
      &:hover {
        color: rgba($basic_white, 0.6);
      }

      &:active {
        color: rgba($basic_white, 0.3);
      }
    }
  }

  &--active-index {
    @media (min-width: $tablet) {
      border-bottom: 2px solid #68b738;
      padding-bottom: 6px;
    }

    @media (min-width: $dekstop) {
      border-bottom: 2px solid #ffffff;
    }
  }

  &--active-form {
    @media (min-width: $tablet) {
      border-bottom: 2px solid #68b738;
      padding-bottom: 5px;
    }
  }
}

.main-nav__links-catalog {
  font-family: "Oswald", "Arial", sans-serif;
  text-decoration: none;
  font-size: 20px;
  line-height: 0;
  text-transform: uppercase;
  color: $basic_black;

  @media (min-width: $tablet) {
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $dekstop) {
    font-size: 20px;
    line-height: 30px;
    color: $basic_black;
  }

  &:focus,
  &:hover {
    color: rgba($basic_black, 0.6);
  }

  &:active {
    color: rgba($basic_black, 0.3);
  }

  &--active {
    @media (min-width: $tablet) {
      border-bottom: 2px solid #68b738;
      padding-bottom: 5px;
    }
  }
}

.main-nav__list {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);

  @media (min-width: $tablet) {
    display: flex;
    margin-top: 9px;
  }

  &--margin {
    @media (min-width: $dekstop) {
      margin-top: 6px;
    }
  }

  &--index {
    @media (min-width: $dekstop) {
      margin-top: 6px;
    }
  }
}

.main-nav--nojs .page-header__toggle {
  display: none;
}
.main-nav--opened .main-nav__toggle {
  top: 0;
  right: auto;
  left: 0;

  &::after,
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 36px;
    height: 2px;
    background-color: #ffffff;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:active::after,
  &:active::before {
    background-color: fade(#ffffff, 30%);
  }
}

.main-nav--closed .page-header__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 2px;
  background-color: $basic_black;
  box-shadow: 0 8px 0 0 $basic_black, 0 16px 0 0 $basic_black;
}

.main-nav--closed .page-header__toggle:active::before {
  background-color: fade($basic_black, 30%);
  box-shadow: 0 8px 0 0 fade($basic_black, 30%), 0 16px 0 0 fade($basic_black, 30%);
}

.main-nav--opened .page-header__toggle {
  top: 11px;

  &::after,
  &::before {
    content: "";
    position: absolute;
    left: 0;
    width: 24px;
    height: 2px;
    background-color: $basic_black;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:active::after,
  &:active::before {
    background-color: $basic_black;
  }
}

.main-nav--closed .main-nav__list {
  @media (max-width: $mobile) {
    display: none;
  }
}
