.page__body {
  background-color: $basic_white;
  padding: 0;
  font-family: "Arial", "Tahoma", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: $basic_black;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-rows: (max-content 1fr max-content);

  @media (min-width: $tablet) {
    width: 100%;
  }

  @media (min-width: $dekstop) {
    width: 100%;
  }
}

.page__main {
  overflow: hidden;
}
