.page-header {
  border-bottom: 1px solid $basic_grey_line;
  position: relative;
  z-index: 1;

  &--padding {
    padding-top: 11px;

    @media (min-width: $tablet) {
      padding-top: 25px;
      border: none;
    }

    @media (min-width: $dekstop) {
      padding-top: 0;
    }
  }

  &--padding-catalog {
    padding-top: 5px;
  }

  @media (min-width: $dekstop) {
    padding-top: 0;
    background-color: transparent;
  }

  &--padding-form {
    padding-top: 2px;

    @media (min-width: $tablet) {
      padding-top: 25px;
      border-bottom: none;
    }

    @media (min-width: $dekstop) {
      margin-top: 0;
      padding-top: 0;
    }
  }
}

.page-header__logo-img {
  @media (min-width: $tablet) {
    width: 174px;
    height: 52px;
  }

  @media (min-width: $dekstop) {
    width: 202px;
    height: 59px;
  }
}

.page-header__name {
  font-family: "Oswald", "Arial", sans-serif;
}

.page-header__toggle {
  position: absolute;
  top: 12px;
  left: 276px;
  z-index: 2;
  display: block;
  width: 24px;
  height: 16px;
  background-color: $basic_white;
  cursor: pointer;
  border: none;

  @media (min-width: $tablet) {
    display: none;
  }

  &--form {
    margin-top: 0;
  }
}

.page-header__center {
  width: 100%;
  display: grid;
  max-width: 1300px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  position: relative;

  @media (max-width: $mobile) {
    padding-left: 0;
    padding-right: 0;
  }

  @media (min-width: $tablet) {
    display: flex;
    padding-left: 0;
    padding-right: 0;
  }

  @media (min-width: $dekstop) {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -100%;
    padding-top: 55px;
  }
}

.page-header__img-logo {
  @media (min-width: $tablet) {
    display: flex;
    margin-right: 95px;
  }

  @media (min-width: $dekstop) {
    margin-right: 551px;
  }
}

.page-header__logo-div {
  padding-left: 20px;
  padding-bottom: 10px;

  @media (min-width: $tablet) {
    margin-right: 85px;
    padding-left: 30px;
  }

  @media (min-width: $dekstop) {
    margin-right: 531px;
    padding-left: 40px;
  }

  &--form {
    padding-bottom: 15px;
  }
}

.page-header__logo {
  &:hover {
    opacity: 0.8;
  }

  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.6;
  }
}
