.programs__program-block {
  background-color: $basic_grey;
  width: 240px;
  padding-top: 24px;
  padding-left: 24px;

  @media (max-width: $mobile) {
    margin-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
  }

  @media (min-width: $tablet) {
    position: relative;
    margin-bottom: 30px;
    padding-right: 20px;
    padding-left: 53px;
    padding-bottom: 10px;
    min-height: 338px;
    width: 635px;
  }

  @media (min-width: $dekstop) {
    width: 520px;
    padding: 0 0 35px 50px;
  }

  &--margin {
    @media (min-width: $dekstop) {
      padding: 0 0 0 50px;
      margin-right: 20px;
      padding-bottom: 35px;
    }
  }
}

.programs__svg-cat {
  margin-left: 3px;
  margin-top: -2px;

  @media (min-width: $tablet) {
    width: 191px;
    height: 194px;
    margin-left: 5px;
    margin-top: -13px;
  }

  @media (min-width: $dekstop) {
    width: 95px;
    height: 98px;
    margin-top: -6px;
    margin-left: 4px;
  }
}

.programs__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;

  @media (max-width: $mobile) {
    margin: 5px 0 0 19px;
  }

  @media (min-width: $tablet) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 10px;
    margin-top: 30px;
    margin-right: 200px;
  }

  @media (min-width: $dekstop) {
    margin-top: 50px;
    margin-right: 0;
  }
}

.programs__paragraph {
  color: $special_dark-grey;
  margin-top: 20px;
  letter-spacing: -0.15px;
  width: 240px;
  box-sizing: border-box;
  padding-right: 10px;

  @media (max-width: $mobile) {
    margin-right: 10px;
    border-bottom: 1px solid $basic_grey_line;
    padding-bottom: 23px;
    margin-bottom: 19px;
  }

  @media (min-width: $tablet) {
    line-height: 24px;
    font-size: 16px;
    margin-top: 15px;
    width: 375px;
    letter-spacing: -0.1px;
    margin-bottom: 50px;
    padding-right: 0;
  }

  @media (min-width: $dekstop) {
    width: 470px;
    margin-top: 40px;
    margin-bottom: 25px;
  }

  &--margin {
    @media (min-width: $tablet) {
      width: 340px;
    }

    @media (min-width: $dekstop) {
      width: 470px;
      letter-spacing: 0;
    }
  }
}

.programs__title-flex {
  display: flex;

  @media (min-width: $tablet) {
    justify-content: space-between;
    margin-top: 23px;
  }

  @media (min-width: $dekstop) {
    justify-content: flex-start;
  }
}

.programs__link {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: $basic_black;
  background-image: url("../img/icon.svg");
  background-repeat: no-repeat;
  background-position: 101px 7px;
  padding-right: 73px;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 30px;
    background-position: 130px 10px;
  }

  @media (min-width: $dekstop) {
    background-position: 135px 10px;
    padding-right: 70px;
  }

  &:focus,
  &:hover {
    background-image: url("../img/icon-right-arrow-verylong.svg");
    background-size: 34px 40px;
    background-position: 91px -7px;

    @media (min-width: $tablet) {
      background-position: 120px -4px;
    }

    @media (min-width: $dekstop) {
      background-position: 125px -4px;
    }
  }

  &:active {
    opacity: 0.3;
    background-image: url("../img/icon-right-arrow-verylong.svg");
    background-size: 34px 40px;
    background-position: 132px -4px;

    @media (max-width: $tablet) {
      background-position: 99px -7px;
    }
  }
}

.programs__circle {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background: $basic_green;

  @media (min-width: $tablet) {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin-right: 62px;
    margin-top: 92px;
    position: absolute;
    right: 0;
    top: 0;
  }

  @media (min-width: $dekstop) {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin-top: 23px;
    margin-left: 0;
    position: static;
  }
}

.programs {
  display: flex;
  flex-direction: column;

  @media (min-width: $dekstop) {
    flex-direction: row;
  }
}

.programs__center {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;

  @media (min-width: $tablet) {
    padding-left: 30px;
  }

  @media (min-width: $dekstop) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 40px;
  }
}

.programs__svg-tiger {
  margin-top: 5px;
  margin-left: -9px;

  @media (min-width: $tablet) {
    margin-top: 25px;
    margin-left: -35px;
    width: 270px;
    height: 150px;
  }

  @media (min-width: $dekstop) {
    width: 137px;
    margin-top: -27px;
    margin-left: -20px;
  }
}
