
.catalog__else-title{font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  color: #111111;}

.catalog__else-paragraph{
font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 16px;
color: #444444;
  }

.catalog__else-link{
font-family: Oswald;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 0px;
display: block;
width: 280px;
height: 40px;
text-decoration: none;
color:#444444;
font-size: 14px;
line-height: 18px;
text-transform: uppercase;
padding-top: 7px ;
padding-bottom: 7px;
background-color: #F2F2F2;
text-align: center;
}

.catalog__else--margin{
padding-top: 26px;
padding-bottom: 25px;
}



