.catolog {
  margin-bottom: 20px;
}

.catalog__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-transform: uppercase;
}

.catalog__links {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1;
  display: block;
  width: 280px;
  text-decoration: none;
  color: $basic_white;
  text-transform: uppercase;
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: $basic_green;
  text-align: center;
  margin-bottom: 25px;
}

.catalog__card {
  border-top: 1px solid $special_grey-2;
  border-bottom: 1px solid $special_grey-2;
}

.catalog__else-title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
}

.catalog__else-paragraph {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: $special_dark-grey;
}

.catalog__else-link {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1;
  display: block;
  width: 280px;
  text-decoration: none;
  color: $special_dark-grey;
  text-transform: uppercase;
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: $basic_grey;
  text-align: center;
}

.catalog__else {
  border-bottom: 1px solid $special_grey-2;

  &--margin {
    padding-top: 26px;
    padding-bottom: 25px;
  }
}

.catalog__table {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  text-align: left;
  color: $special_dark-grey;
}
