.form__div {
  @media (min-width: $dekstop) {
    display: flex;
  }
}

.form__text {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $special_dark-grey;
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
  width: 281px;
  @media (min-width: $dekstop) {
    margin-bottom:20px ;
  }
}

.form__input-radio:checked,
.form__input-radio:not(:checked) {
  display: none;
}

.form__input-radio:checked + .form__text-radio,
.form__input-radio:not(:checked) + .form__text-radio {
  position: relative;
  padding-top: 10px;
  padding-left: 55px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: $basic_black;
}

.form__input-radio:checked + .form__text-radio::after,
.form__input-radio:not(:checked) + .form__text-radio::after {
  content: "";
  width: 18px;
  height: 18px;
  background: $basic_green;
  position: absolute;
  top: 12px;
  left: 12px;
  border-radius: 100%;
  transition: all 0.2s ease;
}

.form__input-radio:not(:checked) + .form__text-radio::after {
  opacity: 0;
  transform: scale(0);
}

.form__input-radio:checked + .form__text-radio::after {
  opacity: 1;
  transform: scale(1);
}

.form__input {
  border: 1px solid $add_gray;
  box-sizing: border-box;
  height: 45px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $special_dark-grey;
  @media (min-width: $tablet) {
  height: 52px;
  }
  &--tel {
    background-image: url("../img/icon-phone.svg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 20px 20px;
    width: 204px;
  }

  &--email {
    background-image: url("../img/icon-mail.svg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 20px 20px;
    width: 219px;
  }
  &--name {
  margin-left: 13px;
  width: 229px ;
  @media (min-width: $tablet) {
  width: 567px;
  }
}
  &--weight{
    margin-left: 13px;
    width: 204px ;
    @media (min-width: $tablet) {
    width: 536px;
    }
  }
&--age{
  width: 175px ;
  @media (min-width: $tablet) {
  width: 497px;
  }
}
}

.form__input::placeholder {
  color: $special_dark-grey;
  opacity: 1;
}

.form__input-radio:checked + .form__text-radio::before,
.form__input-radio:not(:checked) + .form__text-radio::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  height: 40px;
  border: 1px solid #dddddd;
  border-radius: 100%;
  background: $basic_white;
}

.form__text-radio {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $special_dark-grey-2;
  padding-bottom: 25px;
}


.form__div-radio {
  border-top: 1px solid $basic_grey_line;
  border-bottom: 1px solid $basic_grey_line;
  margin-top: 25px;
  padding-top: 25px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet) {
    padding-left: 28px;
    margin-left: 50px;
    border:1px solid $basic_grey_line;
    width: 600px;
    padding-bottom: 25px;
}

  @media (min-width: $dekstop) {
    border: 1px solid $basic_grey_line;
    margin-top: 0px;
    padding-bottom: 0px;
    }
  }

.form__div-name {
  display: flex;
  flex-direction: column;
  width: 320px;

  @media (min-width: $tablet) {
  width: 630px;
  margin-left: 50px;
  }
  @media (min-width: $dekstop) {
width: 630px;
  }
}

.form__span-name{
  margin: auto;
  margin-left: 0px;
}
