.form_text-radio {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $special_dark-grey-2;
}

.form__line {
  width: 99px;
  height: 2px;
  background-color: $basic_green;
}

.form__button {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  display: block;
  width: 280px;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: #68b738;
  text-align: center;
  border: none;
  margin-top: 34px;
  margin-bottom: 21px;

  @media (min-width: $tablet) {
    width: 282px;
  }

  @media (min-width: $dekstop) {
    width: 568px;
  }
}

.form_div-name {
  display: flex;
  flex-direction: column;
  margin-left: 50px;

  @media (min-width: $tablet) {
    flex-direction: row;
  }
}

.form_small {
  @media (min-width: $tablet) {
    margin-left: 51px;
    align-self: center;
  }

  @media (min-width: $dekstop) {
    margin-left: 81px;
  }
}

.form__button-div {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet) {
    flex-direction: row;
  }

  @media (min-width: $dekstop) {
    position: absolute;
    top: 200px;
  }
}
