.form__title-span {
  background-color: $basic_white;
  display: table;
  padding-left: 20px;
  padding-right: 11px;
  width: 190px;

  @media (min-width: $tablet) {
    width: 544px;
padding-left: 38px;
    br {
      display: none;
    }
  }

  &--coment {
    width: 130px;

    @media (min-width: $tablet) {
      padding-right: 39px;
    }
  }

  &--add {
    width: 153px;

    @media (min-width: $tablet) {
      padding-right: 40px;
    }
  }
}

.form_div-contact {
  display: flex;
  flex-direction: column;
  width: 281px;

  @media (min-width: $tablet) {
    width: 635px;
    margin-left: 50px;
  }

  @media (min-width: $dekstop) {
    flex-direction: row;
    margin-left: 20px;
  }
}

.form__text-login {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $special_dark-grey;
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
  margin-left: 20px;

  @media (min-width: $tablet) {
    margin-bottom: 20px;
  }

  @media (min-width: $dekstop) {
    margin-bottom: 20px;
    margin-left: 20px;
  }

  &--margin {
    @media (min-width: $dekstop) {
      margin-left: 0;
    }
  }
}

.form__title-contact {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  margin-top: 25px;
  margin-left: 20px;
  margin-bottom: 34px;
  position: relative;
  width: auto;
  margin-right: 0;

  @media (min-width: $tablet) {
    font-size: 36px;
    line-height: 36px;
    width: auto;
    margin-top: 74px;
    margin-left: 30px;
    margin-bottom: 77px;
  }

  @media (min-width: $dekstop) {
    margin-left: 1px;
    margin-top: 48px;
  }

  &::before {
    content: " ";
    display: inline-block;
    vertical-align: middle;
    height: 2px;
    box-sizing: border-box;
    width: 200vw;
    background: #6cbd83;
    border: solid #ffffff;
    border-width: 0 10px;
    position: absolute;
    top: 35%;
    z-index: -1;
    left: calc((200vw - 100%) / -2);

    @media (min-width: $tablet) {
      top: 60%;
    }
  }
}

.form__span-mail {
  display: block;
  margin-top: 11px;
  margin-right: 21px;
  white-space: nowrap;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 30px;
    margin-right: 20px;
  }

  @media (min-width: $dekstop) {
    margin-right: 22px;
  }
}

.form__span-tel {
  display: block;
  margin-top: 11px;
  margin-right: 9px;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 30px;
    margin-right: 15px;
  }
}
