
.form_text-radio {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $special_dark-grey-2;
}

.form__line {
  width: 99px;
  height: 2px;
  background-color: $basic_green;
}

.form__button {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  display: block;
  width: 280px;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: #68b738;
  text-align: center;
  border: none;
}

.form_div-name {
  display: flex;
  flex-direction: column;
}

.form_small {
  text-align: center;
}
