.form__input-comment::placeholder {
  color: $special_dark-grey;
  opacity: 1;
}

.form__input-comment {
  border: 1px solid $add_gray;
  box-sizing: border-box;
  width: 280px;
  height: 150px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  vertical-align: top;
  resize: none;
  margin-top: 14.5px;
  margin-left: 20px;
  padding-top: 13px;
  padding-left: 14px;

  @media (min-width: $tablet) {
    width: 631px;
    height: 174px;
    margin-left: 70px;
    margin-top: 45px;
    font-size: 20px;
    line-height: 30px;
    padding-top: 10px;
    padding-left: 17px;
  }

  @media (min-width: $dekstop) {
    width: 1220px;
    height: 174px;
    margin-left: 40px;
    margin-top: 47px;
  }
}

.form__title-coment {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  margin-top: 12px;
  margin-left: 19px;
  position: relative;
  width: auto;
  margin-right: 0;

  @media (min-width: $tablet) {
    font-size: 36px;
    line-height: 36px;
    margin-top: 45px;
    margin-left: 50px;
  }

  @media (min-width: $dekstop) {
    margin-left: 20px;
    margin-top: 46px;
  }

  &::before {
    content: " ";
    display: inline-block;
    vertical-align: middle;
    height: 2px;
    box-sizing: border-box;
    width: 100vw;
    background: #6cbd83;
    border: solid #ffffff;
    border-width: 0 10px;
    position: absolute;
    top: 56%;
    z-index: -1;
    left: calc((100vw - 100%) / -2);
  }
}
