.how-work__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  margin-top: 0px;
  margin-bottom: 39px;
  @media (min-width: $tablet) {
margin-top: 7px;
font-size: 60px;
line-height: 60px;
margin-bottom: 73px;
@media (min-width: $dekstop) {
  margin-top: 36px;

}
    }
}
.how-work__block p {
  margin:auto;
  width: 235px;
  Letter-spacing:-0.1px;
}
.how-work__block {
  font-style: normal;
  font-weight: normal;
  color: $special_dark-grey;
  list-style: none;
  display: flex;
  flex-direction: row;

  @media (max-width: $mobile) {
    margin-bottom: 20px;
  }

  @media (min-width: $tablet) {
    flex-direction: column;
    position: relative;
  }
}
.how-work_block-div{
  width: 60px;
  height: 60px;
  background-color: $basic_green;
  display: flex;
  margin-right: 20px;
  flex-shrink: 0;
  @media (min-width: $tablet) {
    width: 80px;
    height: 80px;
    margin-bottom: 32px;
  }
}


.how-work__center {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 40px;
  box-sizing: border-box;
  @media (min-width: $tablet) {
  padding-left: 30px;
  }
  @media (min-width: $dekstop) {
padding-left: 40px;
padding-bottom: 220px;
  }
}

.how-work__number {
  display: none;

  @media (min-width: $tablet) {
    display: block;
    font-family: "Oswald", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    color: $basic_grey;
    font-size: 280px;
    line-height: 280px;
    z-index: -1;
    position: absolute;
    left: 115px;
    bottom: 39px;
  }
  @media (min-width: $dekstop) {
  bottom: -58px;
  left: 114px;
  }
}

.how-work_ul {
  padding: 0;
  margin: 0px;

  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: repeat(2, 230px);
    grid-template-rows: repeat(2, 280px);
    grid-column-gap: 153px;
    grid-row-gap: 37px;
  }

  @media (min-width: $dekstop) {
    display: flex;
    grid-column-gap: 90px;
  }
}
.how-work__block-background{
  margin: auto;
}
.how-work__paragraph{
  flex-shrink: 0;
  font-size: 14px;
line-height: 18px;
@media (min-width: $tablet) {
  font-size: 16px;
  line-height: 24px;}
}
