.how-work__block{
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  list-style: none;
}
.how-work__block-background{
  width: 60px;
  height: 60px;
  background-color:#68B738 ;
}
