.how-work__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
}

.how-work__block {
  font-style: normal;
  font-weight: normal;
  color: $special_dark-grey;
  list-style: none;
}

.how-work__block-background {
  width: 60px;
  height: 60px;
  background-color: $basic_green;
}

.how-work__center {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.how-work_ul {
  padding: 0;
}
