.how-work__block {
  font-family: "Arial", "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: $special_dark-grey;
  list-style: none;
}

.how-work__block-background {
  width: 60px;
  height: 60px;
  background-color: $basic_green;
}
