.main-nav {
  font-family: "Oswald", "Arial", sans-serif;
}

.main-nav__item {
  list-style: none;
}

.main-nav__links {
  font-family: "Oswald", "Arial", sans-serif;
  text-decoration: none;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: $basic_black;

  @media (min-width: $tablet) {
    font-size: 18px;
    line-height: 24px;
  }
}

.main-nav__list {
  padding: none;

  @media (min-width: $tablet) {
    display: flex;
  }
}
