.map__paragraph {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  width: 140px;
  height: 80px;

  @media (min-width: $tablet) {
    width: 140px;
    height: 80px;
    font-size: 20px;
    line-height: 21px;
  }

  @media (min-width: $dekstop) {
    width: 140px;
    height: 80px;
    margin-right: 87px;
    margin-top: 65px;
  }
}

.map__paragraph-contact {
  font-family: "Arial", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  width: 169px;

  @media (min-width: $dekstop) {
    width: 140px;
    height: 80px;
    margin-top: 65px;
  }
}

.map__contact-background-other {
  background-color: $basic_grey;
  margin: 0;
}

.map__paragraph-class {
  margin: 0;
}

.map_center {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.map__contact {
  display: flex;
  justify-content: space-around;

  @media (min-width: $dekstop) {
    width: 570px;
    height: 201px;
    justify-content: flex-start;
  }
}
