.page-footer {
  background-color: $basic_grey;
  margin-top: -5px;

  &--padding {
    padding-top: 41px;
    @media (min-width: $tablet) {
    padding-top: 60px;
  overflow:hidden;}
    @media (min-width: $dekstop) {
    padding-top: 68px;
    padding-bottom: 30px;
  }
}}

.page-footer__copyright-link {
  text-decoration: none;
  font-family: "Arial", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: $special_dark-grey;
  margin-left: 19px;
  margin-top: 7px;
  @media (min-width: $tablet) {
  margin-top: 0px ;
  }
  &--form{
    @media (min-width: $dekstop) {
      margin-top: 4px;
    }
  }
  &:focus{opacity: 0.6}
  &:active{opacity: 0.3}
}

.page-footer__item {
  list-style: none;
  &--margin1{
    @media (min-width: $tablet) {
margin-right: 30px ;
    }
  }
  &--margin2{
    @media (min-width: $tablet) {
margin-right: 30px ;
    }
  }
  &--margin3{
    @media (min-width: $tablet) {
margin-top: -3px;
    }
      @media (min-width: $dekstop) {
        margin-top: -4px;
      }
  }
}

.page-footer__social {
  border-top: 1px solid $basic_grey_line;
  border-bottom: 1px solid $basic_grey_line;

  @media (min-width: $tablet) {
    border: none;
    margin-left: 116px;
    margin-right: 120px;}


  @media (min-width: $dekstop) {
    border: none;
    margin-left: 375px;
    margin-right: 370px;
  }
  &--margin{
    @media (min-width: $tablet) {
      border: none;
      margin-left: 116px;
      margin-right: 105px;}
    @media (min-width: $dekstop) {
      margin-left: 374px;
      margin-right: 398px;
    }
  }
}

.page-footer__list {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin-top: 24px;
  margin-bottom:16px ;
  margin-left: 94px;

  @media (min-width: $tablet) {
    display: flex;
    flex-direction: row;
    margin-top: 0px;
    margin-left: 38px;
  }

  @media (min-width: $dekstop) {
    display: flex;
    flex-direction: row;
  }
}

.page-footer__copyright {
  display: flex;
  justify-content: space-between;

  @media (max-width: $mobile) {
    padding-top: 20px;
    padding-bottom: 40px;
  }
  @media (min-width: $tablet) {
    margin-right: -40px;
  }
  @media (min-width: $dekstop) {
    margin-right: -220px;
  }
&--form {
  margin-top: 0px;
    @media (min-width: $tablet) {
      margin-top: 0px;
      margin-left: 14px;
    }
    @media (min-width: $dekstop) {
      margin-top: 0px;
      margin-left: -25px
    }
}
}

.page-footer__center {
  width: 100%;
  max-width: 1300px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  @media (min-width: $tablet) {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0;
  }

  @media (min-width: $dekstop) {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  &--form{
    justify-content: flex-start;
  }
}

.page-footer__link-logo {
  padding-bottom: 29px;
  margin: auto;

  @media (min-width: $tablet) {
    margin: 0;
    margin-left: 30px;
  }
  @media (min-width: $dekstop) {
    margin: 0;
    margin-left: -100px;
  }
  &--form {
    @media (min-width: $dekstop) {
      margin-left: 40px;
    }
  }
  &:hover{ opacity: 0.6}
  &:focus{ opacity: 0.5}
  &:active{opacity: 0.3}
}

.page-footer__link {
  margin-right: 37px;
  @media (min-width: $tablet) {
  margin-right: 0px;
  }
}

.page-footer__copyright-academy{
  margin-top: -4px;
  margin-right: 8px;
  @media (min-width: $tablet) {
margin-top: -7px;
margin-left: 10px;
  }
}
.page-footer__vk{
  @media (min-width: $tablet) {
    width: 29px ;
    height: 17px;
  }
}
.page-footer__inst{
  @media (min-width: $tablet) {
    width:23px ;
    height: 23px;
  }
}
.page-footer__fb{
  @media (min-width: $tablet) {
    width: 13px;
    height: 27px;
  }
}
