.page-header {
  border-bottom: 1px solid $basic_grey_line;

  &--padding {
    padding-top: 11px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.page-header__name {
  font-family: "Oswald", "Arial", sans-serif;
}

.page-header__toggle {
  background-image: url("../img/icon-mobile-menu.svg");
  padding-left: 17px;
  padding-top: 8px;
  padding-bottom: 10px;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
}
