.programs__program-block {
  background-color: $basic_grey;
}

.programs__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
}

.programs__paragraph {
  color: $special_dark-grey;
}

.programs__link {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: $basic_black;
}

.programs__circle {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background: $basic_green;
}

.programs {
  display: flex;
  flex-direction: column;

  @media (min-width: $dekstop) {
    flex-direction: row;
  }
}

.how-work_ul {
  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: repeat(2, 230px);
    grid-template-rows: repeat(2, 280px);
    grid-column-gap: 0;
    grid-row-gap: 0;
  }

  @media (min-width: $dekstop) {
    display: flex;
  }
}

.programs__center {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
