.programs__program-block {
background-color: #F2F2F2;
}
.programs__title{
  font-family: Oswald;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 37px;
text-transform: uppercase;
color: #000000;
}


.programs__paragraph{
font-family: Arial;
font-size: 14px;
line-height: 18px;
color: #444444;
}

.programs__link{
font-family: Oswald;
font-size: 16px;
line-height: 16px;
text-align: center;
text-transform: uppercase;
text-decoration: none;
color: #000000;
;
}
