.start {
  &--padding {
    padding-top: 27px;
    padding-left: 20px;
  }
}

.start__title {
  font-family: "Oswald", "Arial", sans-serif;
  color: $basic_white;
  font-size: 36px;
  line-height: 36px;
  text-align: center;

  @media (min-width: $tablet) {
    font-size: 60px;
    line-height: 60px;
    color: $basic_black;
    width: 500px;

    br {
      display: none;
    }
  }
}

.start__paragraph {
  font-family: "Oswald", "Arial", sans-serif;
  color: $basic_white;
  line-height: 14px;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 20px;
    color: $basic_black;
  }
}

.start__link {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  display: block;
  width: 280px;
  text-decoration: none;
  color: $basic_white;
  text-transform: uppercase;
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: $basic_green;
  text-align: center;
}

.start__img {
  @media (min-width: $dekstop) {
    display: block;
    align-self: center;
    order: 1;
  }
}

.start__center {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  background: url("../img/index-background-mobile@1x.jpg") no-repeat;

  @media (min-width: $tablet) {
    display: flex;
    flex-direction: column;
    background: none;
  }

  @media (min-width: $dekstop) {
    background: url("../img/index-background-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: center;
  }
}
