.title-form__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  margin-top: 25px;
  margin-bottom: 37px;
  margin-left: -20px;
  text-align: center;
    box-sizing: border-box;

  @media (min-width: $tablet) {
    margin-top: 50px;
    margin-bottom: 54px;
    margin-left: 29px;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
  }

  @media (min-width: $dekstop) {
    margin-top: 58px;
    margin-left: 40px;
    margin-bottom: 57px;
  }
}

.title-form__paragraph {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  margin-bottom: 39px;
  text-align: left;
  width: 250px;
  margin-left: 20px;

  @media (min-width: $tablet) {
    text-align: left;
    margin-bottom: 66px;
    font-size: 20px;
    line-height: 30px;
    margin-left: 70px;
    width: 350px;
  }
  @media (min-width: $dekstop) {
    margin-left: 40px;
  }
}

.title-form__center {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  box-sizing: border-box;
  margin-top: 27px;
  @media (min-width: $tablet) {
    margin-top: 0px;
  }
}
